@{
    ViewBag.Title = "Upload";
}

<h2>Upload File</h2>
<b>@ViewBag.DuplicateEvidence;</b>
<p>
    @using (Html.BeginForm("UploadEvidence", "Home", FormMethod.Post, new {enctype = "multipart/form-data" }))
            {
                <input type="file" name="file" />
                <input type="submit" value="Upload" />
            }
</p>