@{
    ViewBag.Title = "Upload";
}

<h2>Upload File</h2>

<p>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new {enctype = "multipart/form-data" }))
            {
                <input type="file" name="image" />
                <input type="submit" value="Upload" />
            }
</p>

<ul style="list-style-type: none; padding:0;">
    @foreach(var item in Model)
            {
    <li>
        <p>@item</p>
        <a src="@item" href="#" onclick="deleteImage('@item');">Delete</a>
    </li>
            }
</ul>

<script>
    function deleteImage(item) {
        var url = "/Home/DeleteImage";
        $.post(url, { Name: item }, function (data) {
            window.location.href = "/Home/Upload";
            alert(data);
        });
    }
</script>